<!--
**Author: Jeury Mejia
**Last Updated: 10/14/17
**Purpose: This file contains the main professor page.
-->
<!DOCTYPE html>
<html >
<head>
	<meta charset="UTF-8">
	<title>Grades - Student</title>
	<link rel = "stylesheet" type = "text/css" href = "../../static/css/main.css" />
	<link rel = "stylesheet" type = "text/css" href = "../../static/css/professor_exams.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
</head>

<body class="container">
	<div id="header">
		<div class="left" id="njit_logo">
			<img src="../../static/images/njit_logo.png" alt="NJIT Logo" height="25%" width="25%">
		</div>
		<div class="centered" id="app_title">
			Moodle Replacement
		</div>
		<div class="right" id="dropdown">
			<ul>
				<li>
					<a id="professor_id">Student ID</a>
					<ul class="dropdown">
					  <li><a href="javascript:logOut()">Log out</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="topnav" id="myTopnav">
		<a href="../main/student_main.html">Main</a>
		<a href="../exams/student_exams.html" >Exams</a>
		<a href="../grades/student_grades.html" class="active">Grades</a>

	</div>
	<div id="body">
		<div id="exams">
			<div id="create-exam">
				<div id="form_header" style="font-size: 130% ;margin-bottom: 10px;">No grades to show yet!
				</div>
				<!-- Small login form -->
				<form name='form-delete-exam' id="form_delete_exam">
					<div class="question-block">
						<div class="left-block" style="width: 100%;">
							<label>Your grades have not been posted!</label>
						</div>
					</div>		
					<div style="height: 30px"></div>
				</form>
			</div>
		</div>
	</div>
	<div id="footer">
		Copyright &copy; CS490
	</div>
</div>
</body>
<script type="text/javascript" src="../../static/js/logout.js"></script>
</html>