<!--
**Author: Jeury Mejia
**Last Updated: 10/14/17
**Purpose: This file contains the main professor page.
-->
<!DOCTYPE html>
<html >
<head>
	<meta charset="UTF-8">
	<title>Question Bank - Professor</title>
	<link rel = "stylesheet" type = "text/css" href = "../../static/css/main.css" />
	<link rel = "stylesheet" type = "text/css" href = "../../static/css/question_bank.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
</head>

<body class="container">
	<div id="header">
		<span>
			<div class="left" id="njit_logo">
				<img src="../../static/images/njit_logo.png" alt="NJIT Logo" >
			</div>

			<span id="title">Moodle Replacement</span>
			<div class="right" id="dropdown" style="margin-top: -107px;">
				<ul>
					<li>
						<a id="professor_id">Professor ID</a>
						<ul class="dropdown">
							<li><a href="javascript:logOut()">Log out</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</span>
	</div>
	<div class="topnav" id="myTopnav">
		<a href="../main/professor_main.html">Main</a>
		<a href="../exams/professor_exams.html">Exams</a>
		<a href="../question_bank/question_bank.html" class="active">Question Bank</a>
	</div>
	<div id="body">
		<div id="questions">
			<div id="create-question" style="margin-bottom: 10px">
				<div id="form_header" style="font-size: 130% ;margin-bottom: 10px;">Filter Questions
				</div>
				<!-- Small login form -->
				<form name='form-create-question' id="form_create_question" onSubmit="filterQuestions(event)">
					<div class="filter-block-left" id="filters">
						<div class="super-block" id="block_0">
							<div class="left-block" id="left_block_0">
								<label>Filters: </label>
							</div>
							<div class="right-block" id="right_block_0">
								<div class="two-quarter" style="width: 40%">
									<select class="styled-select blue semi-square" id="filter_0">
										<option value="">Select Filter</option>
										<option value="primary_key">Primary Key</option>
										<option value="question_text">Question Text</option>
									</select>
								</div>
								<div class="quarter" style="width: 5%">&nbsp;</div>
								<div class="two-quarter" style="width: 40%;">
									<input class="clean" type="text" id="filter_value_0" placeholder="Filter value..." required="">
								</div>
								<div class="quarter" style="width: 5%">&nbsp;</div>
								<div class="quarter" style="width: 10%; float: right;" >
									<input class="clean" type="button" value="Add" style="width:100%" onClick="addFilter()" id="filter_add">
								</div>
							</div>
						</div>
					</div>
					<div class="quarter" style="width: 5%">&nbsp;</div>
					<div class="filter-block-right" style="margin-bottom: 10px;" id="filter_options">
						<div class="super-block">
							<div class="left-block" style="width: 30%">
								<label>Sorted by: </label>
							</div>
							<div class="right-block" id="right_block_0" style="width: 70%">
								<div class="two-quarter" style="width: 100%">
									<select  class="styled-select blue semi-square" id="sorted_by">
										<option value="">Select Sorted by</option>
										<option value="primary_key">Primary Key</option>
										<option value="question_text">Question Text</option>
									</select>
								</div>
							</div>
						</div>
						<div class="super-block">
							&nbsp;
						</div>
						<div class="super-block">
							<div class="left-block" style="width: 30%">
								<label>Order: </label>
							</div>
							<div class="right-block" id="right_block_0" style="width: 70%">
								<div class="two-quarter" style="width: 100%">
									<select  class="styled-select blue semi-square" id="order">
										<option value="asc">Ascending</option>
										<option value="desc">Descending</option>
									</select>
								</div>
							</div>
						</div>
						<div class="super-block">
							&nbsp;
						</div>
						<div class="super-block">
							<div class="left-block" style="width: 30%">
								<label>Topic: </label>
							</div>
							<div class="right-block" id="right_block_0" style="width: 70%" >
								<div class="two-quarter" style="width: 100%">
									<select  class="styled-select blue semi-square" id="sorted_by">
										<option value="">Select Topic</option>
										<option value="Arrays">Arrays</option>
										<option value="Conditionals">Conditionals</option>
										<option value="Loops">Loops</option>
										<option value="Conditionals">Recursion</option>
										<option value="Functions">Strings</option>
									</select>
								</div>
							</div>
						</div>
						<div class="super-block">
							&nbsp;
						</div>
						<div class="super-block">
							<div class="left-block" style="width: 30%">
								<label>Difficulty: </label>
							</div>
							<div class="right-block" id="right_block_0" style="width: 70%">
								<div class="two-quarter" style="width: 100%">
									<select  class="styled-select blue semi-square" id="order">
										<option value="">Select Difficulty</option>
										<option value="easy">Easy</option>
										<option value="medium">Medium</option>
										<option value="hard">Hard</option>

									</select>
								</div>
							</div>
						</div>
					</div>
					<div style="width: 100%">
						<input class="reset clean" type="button" value="Reset" style="background: white; color: black;" onClick="goTo('question_bank.html')">
						<input class="submit-button clean" type="button" value="Filter" onClick="filterQuestions()">
					</div>
				</form>

			</div>
			
		</div>
		<br>
		<div id="questions">
			<div id="create">
				<input class="clean" type="button" value="Create Question" onclick="goTo('create_question.html')">
			</div>
			<p>
				The following is a list of questions that have been added to the question bank...
			</p>
			<table style="width:100%" id="question_table">
				<col width="10%">
				<col width="70%">
				<!--<col width="15%">-->
				<col width="20%">
				<tr>
					<th>Question ID</th>
					<th>Question Text</th>
					<!--<th>Edit</th>--> 
					<th>Delete</th>
				</tr>
				
			</table>
		</div>
	</div>
	<div id="footer">
		Copyright &copy; CS490
	</div>
</div>
</body>
<script type="text/javascript" src="../../static/js/question.js"></script>
</html>