<!--
**Author: Jeury Mejia
**Last Updated: 10/14/17
**Purpose: This file contains the main professor page.
-->
<!DOCTYPE html>
<html >
<head>
	<meta charset="UTF-8">
	<title>Question Bank - Professor</title>
	<link rel = "stylesheet" type = "text/css" href = "../../static/css/main.css" />
	<link rel = "stylesheet" type = "text/css" href = "../../static/css/professor_exams.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
</head>

<body class="container" id="body_question">
	<div id="header">
		<span>
			<div class="left" id="njit_logo">
				<img src="../../static/images/njit_logo.png" alt="NJIT Logo" >
			</div>

			<span id="title">Moodle Replacement</span>
			<div class="right" id="dropdown" style="margin-top: -107px">
				<ul>
					<li>
						<a id="professor_id">Professor ID</a>
						<ul class="dropdown">
							<li><a href="javascript:logOut()">Log out</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div id="loader"></div>

		</span>
	</div>
	<div class="topnav" id="myTopnav">
		<a href="../main/professor_main.html">Main</a>
		<a href="../exams/professor_exams.html" class="active">Exams</a>
		<a href="../question_bank/question_bank.html" >Question Bank</a>
	</div>
	<div id="body">
		<div id="exams" class="exams-left" style="width: 55%;">
			<div id="create-exam">
				<div id="form_header" style="font-size: 130% ;margin-bottom: 10px;">Create New Exam
				</div>
				<!-- Small login form -->
				<form name='form-create-exam' id="form_create_exam" onSubmit="submitExam(event)">
					<div class="question-block">
						<div class="left-block" style="width: 25%">
							<label>Exam Name: </label>
						</div>
						<div class="right-block other" style="width: 75%">
							<input class="clean" type="text" id="test_name" placeholder="Enter exam name..." required="Missing exam name">
						</div>
					</div>
					<!--
					<div class="question-block">
						<div class="left-block" style="width: 25%">
							<label>Start Date: </label>
						</div>
						<div class="right-block other" style="width: 75%;">
							<input class="clean" type="date" id="start_date"  required="Missing start date" style="width: 50%;">
						</div>
					</div>

					<div class="question-block">
						<div class="left-block" style="width: 25%">
							<label>End Date: </label>
						</div>
						<div class="right-block other" style="width: 75%;">
							<input class="clean" type="date" id="end_date" required="Missing end date" style="width: 50%;">
						</div>
					</div>
				-->
				<div id="question-block">
					<div class="question-block">
						<div class="left-block" style="width: 100%; text-align:center !important; margin-bottom: 20px;">
							<label>Exam Questions - <small style="color: #a9a9a9;">add new questions from the question bank</small></label>
						</div>
					</div>
					<!--
					<div class="question-block">
						<div class="left-block" style="width: 15%"> 
							<label>
								<input onClick="deleteQuestion('+question_id+')" class="delete-question" type="button" value="Delete" style="height: 30px; width: 100%">
							</label>
						</div>
						<div class="right-block" style="width: 53%">
							<label style="color:#5bc0de;" id="label_id_'+question_id+'">Q'+question_count+': '+question_text+'</label>
						</div>
						<div class="right-block" style="width: 2%"></div>
						<div class="right-block other" style="width: 18%">
							<label id="point_value_id_'+question_id+'">Point Value:</label>
						</div>
						<div class="right-block" style="width: 1%"></div>
						<div class="right-block other" style="width: 11%">
							<input class="clean" type="text" id="point_value_'+question_id+'" value="''">
						</div>
					</div>
					-->
					
					
			</div>
			<br>
			<div >
				<input class="clean" type="button" value="Cancel" style="background: white; color: black;" onClick="goTo('professor_exams.html')">
				<input class="clean" type="submit" value="Create">
			</div>
		</form>
	</div>
</div>
<div class="exams-right" style="width: 2%">&nbsp;</div>
<div id="exams" class="exams-right" style="width: 43%; margin-bottom: 50px;">
	<div id="create-exam">
		<div id="form_header" style="font-size: 130% ;margin-bottom: 10px;">Question Bank
		</div>
		<p>
			The following is a list of questions that have been added to the question bank...
		</p>
		<table style="width:100%; margin-bottom: 10px;" id="question_table" >
			<col width="80%">
			<col width="20%">
			<tr>
				<th>Question Text</th>
				<!--<th>Edit</th>--> 
				<th>Add To Exam</th>
			</tr>

		</table>

	</div>

</div>

</div>

<div id="footer">
	Copyright &copy; CS490
</div>
</div>
</body>
<script type="text/javascript" src="../../static/js/helper_functions.js"></script>
<script type="text/javascript" src="../../static/js/professor_exams_handlers.js"></script>

</html>