<!--
**Author: Jeury Mejia
**Last Updated: 10/14/17
**Purpose: This file contains the main professor page.
-->
<!DOCTYPE html>
<html >
<head>
	<meta charset="UTF-8">
	<title>Question Bank - Professor</title>
	<link rel = "stylesheet" type = "text/css" href = "../../static/css/main.css" />
	<link rel = "stylesheet" type = "text/css" href = "../../static/css/professor_exams.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
</head>

<body class="container">
	<div id="header">
		<span>
			<div class="left" id="njit_logo">
				<img src="../../static/images/njit_logo.png" alt="NJIT Logo" >
			</div>

			<span id="title">Moodle Replacement</span>
			<div class="right" id="dropdown" style="margin-top: -107px;">
				<ul>
					<li>
						<a id="professor_id">Professor ID</a>
						<ul class="dropdown">
							<li><a href="javascript:logOut()">Log out</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</span>
	</div>
	<div class="topnav" id="myTopnav">
		<a href="../main/professor_main.html">Main</a>
		<a href="../exams/professor_exams.html" class="active">Exams</a>
		<a href="../question_bank/question_bank.html" >Question Bank</a>
	</div>
	<div id="body">
		<div id="exams">
			<div id="create">
				<input class="clean" type="button" value="Create Exam" onclick="goTo('create_exam.html', true)">
			</div>
			<p>
				The following is a list of exams that have been created...
			</p>
			<table style="width:100%" id="exams_table">
				<col width="10%">
				<col width="40%">
				<col width="20%">
				<col width="20%">
				<col width="10%">
				<tr>
					<th>Exam ID</th>
					<th>Exam Name</th>
					<th>Finalized</th>
					<th>Scores Released</th>
					<th>Delete Exam</th>
				</tr>
				
			</table>
		</div>
	</div>
	<div id="footer">
		Copyright &copy; CS490
	</div>
</div>
</body>
<script type="text/javascript" src="../../static/js/helper_functions.js"></script>
<script type="text/javascript" src="../../static/js/professor_exams.js"></script>
</html>